@import url(normalize.css);
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular.woff") format("woff"), url("OpenSans-Regular.ttf") format("truetype"), url("OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("OpenSans-Italic.woff") format("woff"), url("OpenSans-Italic.ttf") format("truetype"), url("OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("OpenSans-Bold.woff") format("woff"), url("OpenSans-Bold.ttf") format("truetype"), url("OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

*:focus {
  outline: #05AA94 thin dotted; }

body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: #8c9398;
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100%; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.svg-sprite {
  display: none; }

.wr-hero {
  position: relative;
  background-image: url("../assets/images/hero.jpeg");
  background-size: cover;
  height: 100vh; }
  .wr-hero .container {
    position: relative; }
    .wr-hero .container .logo {
      position: absolute;
      fill: #fff;
      top: 35px; }
    .wr-hero .container .logo:hover {
      fill: #05AA94; }
    .wr-hero .container .menu.active .bars {
      display: none; }
    .wr-hero .container .bars {
      position: absolute;
      right: 20px;
      top: 60px;
      fill: #fff; }
    .wr-hero .container .bars:hover {
      cursor: pointer;
      fill: #05AA94; }
    .wr-hero .container .times:hover {
      cursor: pointer;
      fill: #05AA94; }
    .wr-hero .container .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .wr-hero .container .hero h1 {
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #05AA94;
        letter-spacing: 3px;
        line-height: 1.5;
        margin-bottom: 40px;
        margin-top: 220px; }
      .wr-hero .container .hero .description {
        font-size: 20px;
        font-style: italic;
        color: #fff;
        margin-bottom: 90px;
        width: 600px;
        text-align: center; }
      .wr-hero .container .hero .button {
        border: 1px solid #05AA94;
        padding: 17px;
        color: #05AA94;
        letter-spacing: 1px; }
      .wr-hero .container .hero .button:hover {
        background-color: #29ad97;
        color: #fff; }
      .wr-hero .container .hero .button:active {
        background-color: #309383;
        box-shadow: none;
        border-color: #309383; }
  .wr-hero::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .wr-hero header {
    display: none; }
    .wr-hero header.active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      margin: 0;
      background-color: #242830; }
    .wr-hero header .times {
      display: inline-block;
      position: absolute;
      right: 210px;
      top: 57px;
      fill: #fff; }
    .wr-hero header .navigation .nav-bar {
      padding-top: 200px; }
      .wr-hero header .navigation .nav-bar li {
        list-style: none;
        text-align: center;
        margin-bottom: 30px; }
        .wr-hero header .navigation .nav-bar li a {
          font-size: 25px;
          text-transform: uppercase;
          color: #05AA94; }
          .wr-hero header .navigation .nav-bar li a:hover {
            color: #fff; }

.wr-intro {
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-intro .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-intro .container p {
      text-align: center;
      font-size: 20px;
      line-height: 1.5; }
    .wr-intro .container a {
      color: #015398; }

h2 {
  position: relative;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #015398;
  margin-bottom: 40px; }

h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  width: 70px;
  height: 10px;
  border-bottom: 2px solid #353535; }

.wr-statistics {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f3f5f8; }
  .wr-statistics .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    .wr-statistics .container .statistics {
      font-size: 40px;
      color: #353535; }
      .wr-statistics .container .statistics .counter {
        font-size: 58px;
        color: #015398; }

.wr-first-argument {
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-first-argument .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wr-first-argument .container img {
      width: 500px;
      height: auto; }
    .wr-first-argument .container .first-argument {
      padding-left: 100px;
      text-align: left; }
      .wr-first-argument .container .first-argument p {
        font-size: 22px;
        line-height: 1.3; }
        .wr-first-argument .container .first-argument p span {
          color: #015398;
          text-transform: uppercase; }

.wr-second-argument {
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-second-argument .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wr-second-argument .container img {
      width: 500px;
      height: auto; }
    .wr-second-argument .container .second-argument {
      padding-right: 100px;
      text-align: left; }
      .wr-second-argument .container .second-argument p:first-child {
        color: #015398;
        text-transform: uppercase; }
      .wr-second-argument .container .second-argument p {
        font-size: 22px;
        line-height: 1.3; }

.wr-third-argument {
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-third-argument .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wr-third-argument .container img {
      width: 500px;
      height: auto; }
    .wr-third-argument .container .third-argument {
      padding-left: 100px;
      text-align: left; }
      .wr-third-argument .container .third-argument p:first-child {
        color: #015398;
        text-transform: uppercase; }
      .wr-third-argument .container .third-argument p {
        font-size: 22px;
        line-height: 1.3; }

.wr-discrimination {
  position: relative;
  background-image: url("../assets/images/slider.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 110px; }
  .wr-discrimination .container h2 {
    color: #fff; }
  .wr-discrimination .container .slider .slide {
    padding: 30px; }
    .wr-discrimination .container .slider .slide p {
      color: #fff;
      font-size: 20px;
      text-align: justify; }
    .wr-discrimination .container .slider .slide p:first-child {
      font-size: 30px;
      text-align: center; }
  .wr-discrimination .container .slider::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .wr-discrimination .container::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .wr-discrimination .slick-dotted.slick-slider {
    margin-bottom: 0; }
  @media screen and (max-width: 1024px) {
    .wr-discrimination {
      width: 100%; } }
  .wr-discrimination .slick-dots li button:before {
    content: '';
    border: 2px solid #fff;
    border-radius: 100%;
    width: 13px;
    height: 13px; }
  .wr-discrimination .slick-dots li.slick-active button:before {
    background-color: #000; }

.wr-quote {
  position: relative;
  background-image: url("../assets/images/quote.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px; }
  .wr-quote .container {
    text-align: center;
    position: relative; }
    .wr-quote .container h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 5px;
      margin-bottom: 36px; }
  .wr-quote::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #242830;
    opacity: .7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.wr-working-women {
  padding-top: 90px;
  padding-bottom: 90px; }
  .wr-working-women .container {
    text-align: center; }
    .wr-working-women .container .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
      .wr-working-women .container .content .working-women-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        flex-basis: 100%;
        font-size: 25px; }
        .wr-working-women .container .content .working-women-content p:first-child {
          color: #015398;
          font-size: 45px;
          font-weight: bold; }

.wr-mission {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f5f8; }
  .wr-mission .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wr-mission .container p {
      text-align: center;
      font-size: 20px;
      line-height: 1.5; }

.wr-join {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #05AA94; }
  .wr-join .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center; }
    .wr-join .container a {
      font-size: 15px;
      color: #fff;
      padding: 22px;
      border: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.5s; }
      @media screen and (max-width: 375px) {
        .wr-join .container a {
          font-size: 10px;
          padding: 22px 32px 15px; } }
    .wr-join .container a:hover {
      border: 1px solid #242830;
      background-color: #242830;
      transition: 0.5s;
      color: #05AA94; }

.wr-about-ngo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #242830; }
  .wr-about-ngo .container .about-ngo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px; }
    .wr-about-ngo .container .about-ngo-content .content-ngo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px; }
      .wr-about-ngo .container .about-ngo-content .content-ngo a {
        color: #fff;
        margin-bottom: 26px;
        margin-top: 20px; }
      .wr-about-ngo .container .about-ngo-content .content-ngo svg {
        fill: #fff; }
      .wr-about-ngo .container .about-ngo-content .content-ngo a:hover {
        color: #05AA94; }
        .wr-about-ngo .container .about-ngo-content .content-ngo a:hover svg {
          fill: #05AA94; }
      .wr-about-ngo .container .about-ngo-content .content-ngo p:first-child {
        text-transform: uppercase;
        color: #05AA94;
        font-size: 20px; }
  .wr-about-ngo .container .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wr-about-ngo .container .form h3 {
      color: #05AA94;
      margin-bottom: 43px;
      padding-top: 30px; }
    .wr-about-ngo .container .form h3::before {
      display: none; }
  .wr-about-ngo .container input {
    padding: 18px;
    width: 340px;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #05AA94;
    border-radius: 1px;
    outline: none; }
    @media screen and (max-width: 375px) {
      .wr-about-ngo .container input {
        padding: 15px;
        width: 200px;
        margin-bottom: 10px; } }
    @media screen and (max-width: 1024px) {
      .wr-about-ngo .container input {
        margin-bottom: 10px; } }
  .wr-about-ngo .container form button.button {
    background-color: #05AA94;
    border: none;
    box-shadow: none;
    padding: 18px 18px;
    border-radius: 1px;
    margin: 0; }
    @media screen and (max-width: 375px) {
      .wr-about-ngo .container form button.button {
        padding: 16px; } }
  .wr-about-ngo .container form button.button:hover {
    color: #fff; }
  @media screen and (max-width: 375px) {
    .wr-about-ngo .container {
      padding: 50px 0; } }

.wr-footer {
  background-color: #353535;
  padding-top: 35px;
  padding-bottom: 35px; }
  .wr-footer .container {
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1;
    font-size: 14px; }
    @media screen and (max-width: 375px) {
      .wr-footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 20px; } }
    .wr-footer .container span {
      color: #fff; }
      .wr-footer .container span span {
        color: #8c9398; }
    .wr-footer .container .footer-link {
      text-decoration: none;
      color: #8c9398; }
    .wr-footer .container .footer-link:hover {
      text-decoration: underline;
      color: #05AA94; }
